.genresBlock {
    position: sticky;
    top: 2%;
    min-width: 13%;
    min-height: 20%;
    height: 100%;
    background-color: #065486;
    margin: 1.5%  ;
    color: cornsilk;
    text-align: left;
    padding: 2% 1%;
}

.genresBody {
    position: relative;
    display: flex;
    background-color: #14243a;
}