.header {
    display: flex;
    justify-content: space-around;
    min-height: 100px;
    flex-wrap: wrap;
}

.header  h2 [class='active'] {
    text-decoration: underline;
}

h2 {
    color: cornsilk;
}

.user {
    font-size: 15px;
}


.header div {
    margin: 0 auto;
}
