.App {
  text-align: center;
}

.App_body {
  background-color: #065486;
  width: 90%;
  margin: 5% auto;
}

a {
  text-decoration: none;
  color: cornsilk;
}

button {
  color: white;
  background-color: #14243a;
  border: none;
}

.Footer{
  min-height: 40px;
  color: cornsilk;
  text-align: right;
  font-weight: bold;
  margin: 1%;
}




